
  <div class="container">

      <div class="bg-dark" style="height:400px;">
      
        <h1>Contact us</h1>
      
      </div>
      <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-5">
          <div class="form-group">
               
                </div>
            
          </div>
         <div class="col-lg-4">
          {% form 'contact' %}
                  {{ form.errors | default_errors }}
                
                  <div class="first-name">
                    <label for="first-name">First name</label>
                    <input type="text" class="form-control" name="contact[first_name]" id="first-name" />
                  </div>
                
                  <div class="last-name">
                    <label for="last-name">Last name</label>
                    <input type="text" class="form-control" name="contact[last_name]" id="last-name" />
                  </div>
                
                  <div class="phone">
                    <label for="phone">Phone</label>
                    <input type="tel" class="form-control" name="contact[phone]" id="phone" />
                  </div>
                
                  <div class="email">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="contact[email]" id="email" />
                  </div>
                   <div class="Date of Birth">
                    <label for="Date of Birth">Date of Birth</label>
                    <input type="date" class="form-control" name="contact[dob]" id="dob" />
                  </div>
                
                  <div class="order-number">
                    <label for="order-number">Order number</label>
                    <input type="text" class="form-control" name="contact[order_number]" id="order-number" />
                  </div>
                
                  <div class="message">
                    <label for="message">Message</label>
                    <textarea name="contact[body]" class="form-control"  id="message"></textarea>
                  </div>
                  <hr>
                
                  <div class="submit">
                    <input type="submit" class="btn btn-primary"value="Submit" />
                  </div>
                {% endform %}
         </div>
      </div>
    
  </div>

